.v-msg-container {
  position: fixed;
  z-index: 10000;
  width: 360px;
  padding-left: 10px;
  padding-right: 10px;
}

.v-msg-top-right {
  top: 10px;
  right: 0;
}

.v-msg-top-left {
  top: 10px;
  left: 0;
}

.v-msg-bottom-left {
  bottom: 10px;
  left: 0;
}

.v-msg-bottom-right {
  bottom: 10px;
  right: 0;
}

.v-msg-top-center, .v-msg-bottom-center, .v-msg-alert {
  left: 50%;
  margin-left: -180px;
}

.v-msg-top-center {
  top: 10px;
}

.v-msg-bottom-center {
  bottom: 10px;
}

.v-msg-alert{
  top: 20%;

}
.v-msg-box {
  /* margin-bottom: 10px;
  
  border: 1px solid #454d5d;
  border-radius: 5px;
  color: #fff;
  display: block;
  padding: 1rem;
  background: rgba(69, 77, 93, 0.9);
  border-color: #454d5d; */
  display: block;
  padding: 12px 20px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.215rem;
  transition: all 0.3s ease;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.v-msg-title {
  font-weight: bold;
}

.v-msg-alert .v-msg-title{
  padding-top: 10px;
  padding-bottom: 10px;
}

.v-msg-alert .v-msg-content{
  /* padding-top: 10px; */
  padding-bottom: 10px;
}
.v-msg-alert .btn{
  min-width: 90px;
}
.float-right{
  float: right !important;
}
.v-notify-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.v-notify-success .close {
  color: #155724;
}

.v-notify-success .close:hover, .v-notify-success .close:focus {
  color: #155724;
}

.v-notify-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.v-notify-info .close {
  color: #0c5460;
}

.v-notify-info .close:hover, .v-notify-info .close:focus {
  color: #0c5460;
}

.v-notify-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.v-notify-warning .close {
  color: #856404;
}

.v-notify-warning .close:hover, .v-notify-warning .close:focus {
  color: #856404;
}

.v-notify-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.v-notify-error .close {
  color: #721c24;
}

.v-notify-error .close:hover, .v-notify-error .close:focus {
  color: #721c24;
}

.v-msg-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1600;
  background-color: #000;
  opacity: 0.5;
}


@media (max-width: 360px) {
  .v-notify-container {
    width: 100%;
  }
}